<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.doug.monitor">


    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_PRIVILEGED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RAISED_THREAD_PRIORITY" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />


    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/ic_monitor"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppComTheme">

        <activity
            android:name=".FlashActivity"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".menu.ActivityMenu"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>

        <activity
            android:name=".device.ActivityDevice"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>


        <activity
            android:name=".monitor.ActivityMonitor"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>

        <activity
            android:name=".monitor.ActivityProcesses"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".help.ActivityHelp"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".about.ActivityAbout"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>

        <activity
            android:name=".base.ActivityTimerSwitch"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>


        <activity
            android:name=".netspeed.NetActivity"
            android:excludeFromRecents="true"
            android:screenOrientation="sensor">

        </activity>

        <activity
            android:name=".factorytest.FactoryAutoTest"
            android:excludeFromRecents="true"
            android:screenOrientation="sensor">
            <intent-filter>
                <action android:name="com.mlt.factoryautotest.action.TEST_LIST" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".base.bluetooth.SampleActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>


        <!--测试banner-->
        <activity
            android:name=".base.banner.test.SampleActivity"
            android:screenOrientation="sensor"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        </activity>
        <activity
            android:name=".touch.TouchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".assembly.AssemblyTestActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".ageing.AgingTestActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".performance.PerformanceTestActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".base.networktools.NetworktoolsTestActivity"
            android:screenOrientation="sensor"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".base.guid.test.GuidActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".scanner.ToolScannerTestActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".base.BaseActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".camera.CameraTestActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".visualInspection.VisualInspectionActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".audio.AudioTestActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".clean.CleanDataActivity"
            android:screenOrientation="sensor">

        </activity>
        <activity
            android:name=".displayVersion.DisplayVersionActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".serialNo.SerialNoActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name=".eth.EthMacActivity"
            android:screenOrientation="sensor" />
        <activity
            android:name="com.doug.camera.lib.PreviewActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".base.visualizer.test.LineVisualizerActivity" />
        <activity android:name=".base.visualizer.test.BarVisualizerActivity" />
        <activity android:name=".base.visualizer.test.CircleVisualizerActivity" />
        <activity android:name=".base.visualizer.test.CircleBarVisualizerActivity" />
        <activity android:name=".base.visualizer.test.LineBarVisualizerActivity" />
        <activity android:name=".base.visualizer.test.ServiceExampleActivity" />
        <activity android:name=".menu.Menu" />


        <service android:name=".monitor.ServiceReader">

        </service>

        <service
            android:name=".netspeed.NSTileService"
            android:label="NetSpeed"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <service android:name=".netspeed.SpeedCalculationService">

        </service>
        <service
            android:name=".base.visualizer.test.MediaPlayerService"
            android:exported="false" />

        <receiver android:name=".netspeed.BootCompletedBroadcastReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </receiver>

    </application>
</manifest>